/* mobile device */
@media screen and (max-width:575px) {
    /* navbar media */
    .nav-menu ul{
        display: none;
    }
    nav{
        margin: 13px 16px 0 16px;
    }
    .nav-logo img{
        width: 55%;
    }
    /* banner media */
    .banner{
        flex-direction: column-reverse;
        margin: 28px 0 60px;
    }
    .bannerContent, .plants{
        margin: 0 16px;
    }
    .bannerTitle{
        margin-top: 28px;
        font-size: 1.5rem;
    }
    .bannerDescription{
        font-size: 1rem;
    }
    /* plants styles */
    .plants-card{
        grid-template-columns: repeat(2, 1fr);
    }
    .headingTitle{
        font-size:1.5rem;
    }
    .card img{
        width: 100%;
    }
    .description{
        font-size: 1.2rem;
        margin: 10px 0 25px;
    }
    .plants-title{
        font-size: 1rem;
    }
    .plants-price{
        font-size: 1rem;
        margin: 10px 0 15px;
    }
    .plants-btn{
        padding: 19px 48px;
    }
    
}